body {
    font-family: "Kalam";
    /*font-family: "Amatic SC";*/
    padding: 10px 10px 10px 10px;
}

#pesquisaProd {
    font-family: Kalam;
    margin: 10px 10px 0px 5px;
    width: 30%;
    font-size: 16px;
}

thead {
    background-color: #5e5e5e;
    color: #fff;
    font-family: "Cabin";
}

h2 {
    /*font-family: "Amatic SC";*/
    font-family: "Cabin";
    text-align: center;
}


label {
    /*display: block;*/
    font-size: 20px;
}

button {
    font-family: Kalan;
}