    <div id="idBusca">
        <label for="pesquisaProd"><strong>Produtos</strong></label>
        <input id="pesquisaProd" type="text" name="pesquisaProd" value="" placeholder="Pesquise o produto..."
               ng-model="buscaProdutos">

    </div>
    <br>
    <table width="100%" cellspacing="0" class="table table-striped" style="font-size: 20px;">
        <thead>
        <tr>
            <th>Produto</th>
            <th>Preço</th>
            <th>Data</th>
            <th>Alterar</th>
            <th>Deletar</th>
            <th>Salvar</th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="produto in produtos | filter: buscaProdutos | limitTo: 10" >
            <td>{{produto.descricao | uppercase }}</td>
            <td>{{produto.preco | currency: "R$ " }}</td>
            <td>{{produto.data | date: "dd/MM/yyyy HH:mm" }}</td>
            <td>
                <button type="button" class="btn btn-info btn-sm"><span class="glyphicon glyphicon-pencil"></span>Editar</button>
            </td>
            <td>
                <button type="button" class="btn btn-danger btn-sm"><span class="glyphicon glyphicon-remove-circle"></span>Excluir</button>
            </td>
            <td>
                <button type="button" class="btn btn-success btn-sm"><span class="glyphicon glyphicon-remove-circle">Salvar</span></button>
            </td>
        </tr>
        </tbody>
    </table>